<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre Mim'}); %>

    <main>

        <div class="alert alert-primary">
                <h1>Sobre mim</h1>
                <p>Olá sou o Marcio e estou aprendendo cada dia mais!!!</p>
        </div>
    </main>
</body>

    <%- include('../partials/footer'); %>

</html>